h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
  content: "#";
  position: absolute;
  left: -20px;
  opacity: 0.8;
  color: orange;
  transition: opacity 0.2s;
}

h1:hover:before,
h2:hover:before,
h3:hover:before,
h4:hover:before,
h5:hover:before,
h6:hover:before {
  opacity: 1;
}

h1:before {
  font-size: 32px;
}

h2:before {
  font-size: 28px;
}

h3:before {
  font-size: 24px;
}

h4:before {
  font-size: 20px;
}

h5:before {
  font-size: 16px;
}

h6:before {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  padding-left: 30px;
}

