h1 {
    font-size: 1.2em;
    opacity: 1;
  }
  
  h2 {
    font-size: 1.1em;
    opacity: 0.7;
  }
  
  h3 {
    font-size: 1em;
    opacity: 0.4;
  }
  
  h4 {
    font-size: 0.9em;
    opacity: 0.4;
  }
  
  h5 {
    font-size: 0.8em;
    opacity: 0.4;
  }
  
  h6 {
    font-size: 0.7em;
    opacity: 0.3;
  }

  h1:hover:before {
    content: "# ";
    font-size: 2em;
    margin-right: 10px;
  }
  
  h2:hover:before {
    content: "## ";
    font-size: 1.5em;
    margin-right: 10px;
  }
  
  h3:hover:before {
    content: "### ";
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  h4:hover:before {
    content: "#### ";
    font-size: 1em;
    margin-right: 10px;
  }
  
  h5:hover:before {
    content: "##### ";
    font-size: 0.9em;
    margin-right: 10px;
  }
  
  h6:hover:before {
    content: "###### ";
    font-size: 0.8em;
    margin-right: 10px;
  }
  